*{
    margin: 0 auto;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.container-wrapp{
    width: 1920px;
    background: #121116;
}
.container{
    max-width: 1170px;
    text-align: center;
}
.footer-logo{
    padding: 120px 0 51px 0;
}
.footer-title{
    position: relative;

    text-transform: uppercase;
    font-size: 24px;
}
.footer-title::before{
    content: '';
    position: absolute;
    bottom: -21px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 230px;
    height: 1px;
    background: #fff;
}
.footer-social{
    margin: 44px 0 90px 0;
}
.footer-social a{
    margin-right: 35px;
}
.footer-social a:last-child{
    margin-right: 0;
}
.footer-copyrignt{
    padding-bottom: 38px;
}
.footer-copyrignt span{
    font-weight: 500;
}
.footer-copyrignt a{
    color: #00c7fc;
    text-decoration: none;
}
